@import "tailwindcss";
 /* @import './actiontext.css'; */
@import "./components.css";

@theme {
  --color-textRed: hsl(356, 100%, 66%);
  --color-veryLightRed: hsl(355, 100%, 74%);
  --color-veryDarkBlue: hsl(208, 49%, 24%);
  --color-white: hsl(0, 0%, 100%);
  --color-grayishBlue: hsl(240, 2%, 79%);
  --color-grayishBlue50: hsl(240, 2%, 80%);
  --color-veryDarkGrayishBlue: hsl(207, 13%, 34%);
  --color-veryDarkGrayBlue: hsl(237, 17%, 21%);
  --color-veryDarkDesaturatedBlue: hsl(237, 23%, 32%);
  --color-veryDarkBlackBlue: hsl(240, 10%, 16%);
  --color-transparent: transparent;
   --font-overpass: Overpass, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-ubuntu: Ubuntu, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --text-sm: 0.875rem;   /* 14px */
  --leading-sm: 1.25;    /* ~17.5px line-height */

  --text-base: 1rem;     /* 16px */
  --leading-base: 1.5;   /* 24px line-height */

  --text-lg: 1.125rem;   /* 18px */
  --leading-lg: 1.75;    /* ~31.5px line-height */
  --leading-base: 1.5;
  --font-body: Overpass, sans-serif;
    --background-image-intro-mobile: linear-gradient(
      to right,
      hsl(13 100% 72% / 0.91),
      hsl(353 100% 62% / 0.91)
    ),
    url('/assets/bg-pattern-intro-mobile.svg');

  --background-image-intro-desktop: linear-gradient(
      to right,
      hsl(13 100% 72% / 0.91),
      hsl(353 100% 62% / 0.91)
    ),
    url('/assets/headerdesktop.svg');
}

@media (min-width: 768px) {
  :root {
    --background-image-intro-mobile: var(--background-image-intro-desktop);
  }
}

 @media only screen and (min-width: 768px) {
 .circle-image {
    position:relative;
left:-30%; 
top: 0; 
width: auto;
height: 100%;
object-fit:cover;
max-width:none;
 }
 
.circle-image1 {
    position:relative;
    right: -20%; 
    top: 0; 
    width: auto;
    height: 100%;
    object-fit:cover;
    max-width:none;
    }
    .trix-content * {
        display: flex;
        align-items: center;
  justify-content: center;
         flex-direction: row;
         justify-content: space-between;
         column-gap: 60px;
     }
 }