<%= render partial: "shared/navbar" %>

      <div class="pb-12 text-center md:text-left md:ml-32">
        <div class="p-10  mt-24">
          <h3 class="pb-6 font-Ubuntu text-veryDarkBlue text-2xl">  <%=@blog_post.title=%></h3>
          <p class="font-overpass text-VeryDarkGrayishBlue font-light"> <%=@blog_post.content.body=%></p>
        </div>
      </div>

<%= render partial: "shared/footer" %>