<div class="bg-veryDarkBlackBlue font-overpass text-white rounded-tr-[10rem] bg-right bg-cover h-auto ">
      <div class="grid grid-rows-auto grid-cols-1 md:grid-cols-4 md:grid-rows-1 p-24">
        <div class="text-center p-8 md:col-start-2 md:row-start-1 self-center">
            <h2>Company</h2>
            <p class="pt-12 text-grayishBlue">About Us</p>
        </div>
       <div class="text-center p-8 md:col-start-3 md:row-start-1 self-center">
            <h2>Get Started</h2>
            <p class="pt-12 text-grayishBlue">why not</p>
        </div>
        <div class="text-center p-8 md:col-start-4 md:row-start-1 self-center">
            <h2>Contact Us</h2>
            <p class="pt-12 text-grayishBlue">something cool</p>
        </div>
         <div class="p-8 items-center md:col-start-1">
          <%= image_tag('logo.svg', class: 'h-8 w-auto', alt:'Your Company') %>
        </div>
     </div>
</div>