<div class="bg-VeryDarkBlackBlue font-overpass text-white rounded-tr-[10rem] bg-right bg-cover h-auto ">
      <div class="grid grid-cols-4 grid-rows-1 p-24">
        <div class="text-center p-8 col-start-2 row-start-1 self-center">
            <h2>Company</h2>
            <p class="pt-12 text-grayishBlue">About Us</p>
        </div>
       <div class="text-center p-8 col-start-3 row-start-1 self-center">
            <h2>Get Started</h2>
            <p class="pt-12 text-grayishBlue">why not</p>
        </div>
        <div class="text-center p-8 col-start-4 row-start-1 self-center">
            <h2>Contact Us</h2>
            <p class="pt-12 text-grayishBlue">something cool</p>
        </div>
         <div class="p-8 items-center col-start-1">
          <%= image_tag('logo.svg', class: 'h-8 w-auto', alt:'Your Company') %>
        </div>
     </div>
</div>