/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */ 


 /* ## Layout

 The designs were created to the following widths:
 
 - Mobile: 375px
 - Desktop: 1440px
 
 > 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.
 
 ## Colors
 
 ### Primary
 
 - Light red (CTA text): hsl(356, 100%, 66%)
 - Very light red (CTA hover background): hsl(355, 100%, 74%)
 - Very dark blue (headings): hsl(208, 49%, 24%)
 
 ### Neutral
 
 - White (text): hsl(0, 0%, 100%)
 - Grayish blue (footer text): hsl(240, 2%, 79%)
 - Very dark grayish blue (body copy): hsl(207, 13%, 34%)
 - Very dark black blue (footer background): hsl(240, 10%, 16%)
 
 ### Gradient
 
 Background gradient - Intro/CTA mobile nav:
 
 - Very light red: hsl(13, 100%, 72%)
 - Light red: hsl(353, 100%, 62%)
 
 Background gradient - body:
 
 - Very dark gray blue: hsl(237, 17%, 21%)
 - Very dark desaturated blue: hsl(237, 23%, 32%) */
 
 @media only screen and (min-width: 768px) {
 .circle-image {
position: absolute; 
left: -14%; 
top: 0; 
width: auto;
height: 100%;
object-fit:contain
 }
 
 .circle-image1 {
    position: absolute; 
    right: -20%; 
    top: 0; 
    width: auto;
    height: 100%;
    object-fit:contain
     }
    }

.trix-content * {
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 60px;
}

